{% extends 'base_templates.html' %}
{% load static %}

{% block content %}
<header>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</header>
<div class="container">
    <form method="post" action="{% url 'criar_comanda' %}">
        {% csrf_token %}
        <label class="card-header" for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" class="input-field">
        
        <button class="btn btn-primary" type="submit" class="btn-submit">Criar Comanda</button>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
</div>
{% endblock %}
