{% extends 'base_templates.html' %}
{% load static %}

{% block content %}

<h1>Detalhes da Comanda</h1>
<div class="card-header">
    Comanda de {{ comanda.nome }}
</div>
<div class="card-body">
    <p id="total-comanda">Total: R$ {{ comanda.total }}</p>
</div>
<ul>
    {% for item in itens %}
        <div class="card card-detalhe">
            <div class="card-body">
                <h5 class="card-title">{{ item.descricao }}</h5>
                <p class="card-text">Valor: R$ {{ item.valor }}</p>
                <div class="input-group mb-3">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-secondary btn-sm" onclick="decrementarQuantidade({{ item_id }})">-</button>
                    </span>
                    <input type="text" quantidade="{{ comandas }}" class="form-control text-center" value="{{ item.quantidade }}" readonly>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-secondary btn-sm" onclick="incrementarQuantidade({{ item.id }})">+</button>
                    </span>
                </div>
                <form id="form-excluir-item-{{ item.id }}" method="POST" action="{% url 'excluir_item' comanda_id=comanda.id item_id=item.id %}">
                    {% csrf_token %}
                    <button type="button" onclick="excluirItem({{ item.id }})" class="btn btn-danger">Excluir</button>
                </form>
            </div>
        </div>
    {% endfor %}
</ul>

<script>
    function incrementarQuantidade(comandaId, itemId) {
        var inputQuantidade = document.getElementById('quantidade' + itemId);
        console.log(inputQuantidade);
        if (inputQuantidade) {
            var quantidade = parseInt(inputQuantidade.value) + 1;
            inputQuantidade.value = quantidade;
            atualizarQuantidade(comandaId, itemId, quantidade);
        } else {
            console.error('Elemento não encontrado');
        }
    }
    
    function decrementarQuantidade(comandaId, itemId) {
        var inputQuantidade = document.getElementById('quantidade' + itemId);
        console.log(inputQuantidade);
        if (inputQuantidade) {
            var quantidade = parseInt(inputQuantidade.value) - 1;
            if (quantidade >= 0) {
                inputQuantidade.value = quantidade;
                atualizarQuantidade(comandaId, itemId, quantidade);
            }
        } else {
            console.error('Elemento não encontrado');
        }
    }
    
    function atualizarQuantidade(comandaId, itemId, quantidade) {
        fetch(`/comanda/${comandaId}/atualizar_quantidade_item/${itemId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value
            },
            body: JSON.stringify({'quantidade': quantidade})
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error('Erro ao atualizar quantidade. Resposta: ' + response.statusText);
            }
        })
        .then(data => {
            if (data.success) {
                document.getElementById('total-comanda').textContent = 'Total: R$ ' + data.total;
                console.log('Quantidade atualizada com sucesso.');
            } else {
                throw new Error('Erro ao atualizar quantidade. Mensagem do servidor: ' + data.error);
            }
        })
        .catch(error => {
            console.error('Erro ao atualizar quantidade:', error);
        });
    }
    
</script>

{% endblock %}
