{% extends 'base_templates.html' %}
{% load static %}

{% block content %}

    <h1>Detalhes da Comanda</h1>
    <div class="card-header">
        Comanda de {{ comanda.nome }}
    </div>
    <div class="card-body">
        <p>Total: R$ {{ comanda.total }}</p>
    </div>
    <ul>
        {% for item in itens %}
            <div class="card card-detalhe">
                <div class="card-body">
                    <h5 class="card-title">{{ item.descricao }}</h5>
                    <p class="card-text">Valor: R$ {{ item.valor }}</p>
                    <form method="POST" action="{% url 'excluir_item' comanda_id=comanda.id item_id=item.id %}">
                        {% csrf_token %}
                        <button type="submit" name="excluir_item" class="btn btn-danger">Excluir</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </ul>
{% endblock %}
