

{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="menu-lateral">
        <h2>Menu Lateral</h2>
        <form method="GET" action="{% url 'buscar_comandas' %}">
            <input type="text" name="q" placeholder="Pesquisar comanda...">
            <button type="submit">Buscar</button>
        </form>
        <ul>
            {% for comanda in comandas %}
            <li><a href="{% url 'detalhes_comanda' comanda_id=comanda.id %}">{{ comanda.nome }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}