<!-- registration/login.html -->

{% load static %}
{% block content %}
    <header>
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
    </header>
    <div class="containerregister">
        <h2>Login</h2>
        <form method="post" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Cadastrar</button>
            <p>Já tem uma conta? <a href="{% url 'login' %}">Login</a></p>
        </form>
    </div>
{% endblock %}